.sector-icon {
  width: 100px;
  height: 100px;
  object-fit: contain;
  transition: all 0.3s;
  filter: brightness(0) invert(1); /* Rende le icone bianche */
}

@media (min-width: 768px) {
  .sector-icon {
    width: 160px;
    height: 160px;
  }
}

.residenziale-icon {
  width: 120px;
  height: 120px;
}

@media (min-width: 768px) {
  .residenziale-icon {
    width: 180px;
    height: 180px;
  }
}

.alberghiero-icon {
  width: 120px;
  height: 120px;
}

@media (min-width: 768px) {
  .alberghiero-icon {
    width: 180px;
    height: 180px;
  }
}

.pubblico-icon {
  width: 140px;
  height: 140px;
}

@media (min-width: 768px) {
  .pubblico-icon {
    width: 200px;
    height: 200px;
  }
}

.pubblico-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Imposto una altezza fissa per tutti i contenitori delle icone */
.flex.flex-wrap.md\:flex-row.justify-center.md\:justify-between.items-start > div {
  height: 180px; /* Altezza fissa per tutti i contenitori su mobile */
  display: flex;
  flex-direction: column;
  width: 40%; /* Su mobile, ogni elemento occupa circa metà della larghezza */
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .flex.flex-wrap.md\:flex-row.justify-center.md\:justify-between.items-start > div {
    height: 220px; /* Altezza fissa per tutti i contenitori su desktop */
    width: auto; /* Su desktop, la larghezza è automatica */
    margin-bottom: 0;
  }
}

/* Posiziono le icone in alto */
.flex.flex-wrap.md\:flex-row.justify-center.md\:justify-between.items-start .sector-icon {
  margin-bottom: auto;
}

/* Assicuro che tutti i testi siano allineati sulla stessa linea */
.flex.flex-wrap.md\:flex-row.justify-center.md\:justify-between.items-start .sector-text {
  margin-top: 0;
  font-size: 0.8rem;
  text-align: center;
}

@media (min-width: 768px) {
  .flex.flex-wrap.md\:flex-row.justify-center.md\:justify-between.items-start .sector-text {
    font-size: 1rem;
  }
}

.sector-icon:hover {
  transform: scale(1.1);
  /* Filtro per colorare l'icona completamente di rosso */
  filter: brightness(0) saturate(100%) invert(15%) sepia(95%) saturate(6932%) hue-rotate(357deg) brightness(109%) contrast(114%);
  -webkit-filter: brightness(0) saturate(100%) invert(15%) sepia(95%) saturate(6932%) hue-rotate(357deg) brightness(109%) contrast(114%);
}

.sector-text {
  font-weight: bold;
  color: white;
  font-size: 1.125rem;
  margin-top: 1.5rem;
  transition: color 0.15s;
}

.sector-text:hover {
  color: #dc2626;
}